body {
    background-color: rgb(0, 0, 0);
    font-size: large;
    text-align: center;
  
    
    
}
h1 {
    color: white;
}
h3 {
    color:rgb(235, 235, 245)
    
}
p {
    color: white;
}
a {
    color: white;
    text-decoration: none;
    
}
        
    
